import /init.recovery.qcom_decrypt.rc

on early-init
    insmod /vendor/lib/modules/q6_pdr_dlkm.ko
    insmod /vendor/lib/modules/q6_notifier_dlkm.ko
    insmod /vendor/lib/modules/snd_event_dlkm.ko
    insmod /vendor/lib/modules/gpr_dlkm.ko
    insmod /vendor/lib/modules/spf_core_dlkm.ko
    insmod /vendor/lib/modules/adsp_loader_dlkm.ko

    insmod /vendor/lib/modules/xiaomi_touch.ko
    insmod /vendor/lib/modules/synaptics_dsx.ko
    insmod /vendor/lib/modules/nt36xxx-spi.ko
    insmod /vendor/lib/modules/nt36xxx-i2c.ko
    insmod /vendor/lib/modules/fts_touch_spi.ko
    insmod /vendor/lib/modules/focaltech_fts.ko
    insmod /vendor/lib/modules/atmel_mxt_ts.ko
    insmod /vendor/lib/modules/aw8697-haptic.ko

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on post-fs
    start boot-hal-1-1

on boot
    start touchfeature
    #start vibratorfeature
    start health-hal-2-1
    setprop sys.usb.config adb

service touchfeature /vendor/bin/hw/vendor.xiaomi.hw.touchfeature@1.0-service
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/vendor/lib/hw:/vendor/lib64/hw
    disabled
    seclabel u:r:recovery:s0

service vibratorfeature /vendor/bin/hw/vendor.xiaomi.hardware.vibratorfeature.service
    user root
    group root input
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/vendor/lib/hw:/vendor/lib64/hw
    onrestart restart vibratorfeature
    seclabel u:r:recovery:s0
